
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -moz-osx-font-smoothing: auto;
    margin-left: 20px;
}

.main-text{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(189, 186, 186);
    background: #F1F6FB;
    color:#007BFF;
    font-weight: 600;
-moz-osx-font-smoothing: auto;
}
#eoo3cnz1cjya1{
    width:200px;
    height:200px;
}